CHRIONLINE_SMTP_HOST=smtp.gmail.com
CHRIONLINE_SMTP_PORT=587
CHRIONLINE_SMTP_USERNAME=your-account@gmail.com
CHRIONLINE_SMTP_PASSWORD=your-app-password
CHRIONLINE_SMTP_FROM=your-account@gmail.com
CHRIONLINE_TLS_PROTOCOL=TLS
CHRIONLINE_TLS_KEYSTORE_PATH=config/tls/server-keystore.p12
CHRIONLINE_TLS_KEYSTORE_PASSWORD=changeit
CHRIONLINE_TLS_KEYSTORE_TYPE=PKCS12
CHRIONLINE_TLS_TRUSTSTORE_PATH=config/tls/client-truststore.p12
CHRIONLINE_TLS_TRUSTSTORE_PASSWORD=changeit
CHRIONLINE_TLS_TRUSTSTORE_TYPE=PKCS12
